In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./moviereviews.tsv', sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
sid = SentimentIntensityAnalyzer()

In [8]:
# df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'compound': -0.9125}

In [10]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
blanks = []

for i, lb, rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [14]:
df.drop(blanks, inplace=True)

In [15]:
df['label'].value_counts()

label
neg    969
pos    969
Name: count, dtype: int64

In [16]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

In [17]:
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [18]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [19]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484

In [20]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score >= 0 else 'neg')

In [21]:
df.sample(10)

,label,review,scores,compound,comp_score
1701,pos,( warning to those who have not seen seven : ...,"{'neg': 0.184, 'neu': 0.715, 'pos': 0.101, 'co...",-0.9977,neg
53,pos,"at first glance , daylight would seem like you...","{'neg': 0.089, 'neu': 0.742, 'pos': 0.169, 'co...",0.9968,pos
958,pos,it's an interesting premise . \r\nour reality ...,"{'neg': 0.061, 'neu': 0.773, 'pos': 0.166, 'co...",0.9987,pos
536,pos,airplane ! is considered among many to be the ...,"{'neg': 0.116, 'neu': 0.77, 'pos': 0.114, 'com...",-0.6630,neg
1803,neg,because no one demanded it : david duchovny in...,"{'neg': 0.075, 'neu': 0.749, 'pos': 0.177, 'co...",0.9947,pos
1606,pos,one fun activity for parents during the holida...,"{'neg': 0.051, 'neu': 0.786, 'pos': 0.162, 'co...",0.9965,pos
1319,neg,it's actually not so bad that dreamworks decid...,"{'neg': 0.11, 'neu': 0.752, 'pos': 0.138, 'com...",0.9313,pos
1295,neg,'traffic violation' dr . daniel's review of u-...,"{'neg': 0.132, 'neu': 0.748, 'pos': 0.12, 'com...",-0.9730,neg
1726,pos,"synopsis : committed to an asylum , the marqui...","{'neg': 0.146, 'neu': 0.72, 'pos': 0.134, 'com...",-0.8146,neg
189,pos,the sweet hereafter could serve as a textbook ...,"{'neg': 0.103, 'neu': 0.774, 'pos': 0.123, 'co...",0.9635,pos

In [22]:
from sklearn import metrics

In [23]:
print(metrics.accuracy_score(df['label'], df['comp_score']))

0.6357069143446853

In [24]:
print(metrics.confusion_matrix(df['label'], df['comp_score']))

[[427 542]
 [164 805]]

In [25]:
print(metrics.classification_report(df['label'], df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938